
.side_menu{
    flex: 0.3;
    padding: 20px;
}
.side_menu li{
    cursor: pointer;
}
.main_content{
    width: 100%;
    align-items: center;
}
.main_content form{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_content form mat-form-field{
    padding: 10px;
    width: 25%;
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  .mat-tree-node span{
    padding: 5px;
    width: 100px;
    display: flex;
  }
  .mat-tree-node span mat-icon{
    margin-top: -1px;
  }
  .mat-tree-node span:hover{
    background-color: #e0f2f1;
  }

  