<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dynamic Menu Application</span>
  </mat-toolbar>
 <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="side_menu" style="height: 82vh;">
            
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            <mat-tree-node *matTreeNodeDef="let node" (click)="onClick(node.mId)" style="cursor: pointer;">
              <span>{{node.name}}</span>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node" style="cursor: pointer;">
                  <span matTreeNodeToggle (click)="onClick(node.mId)">{{node.name}}
                    <mat-icon class="material-icons-outlined">
                      {{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
                    </mat-icon>
                </span>
                </div>
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                    role="group">
                  <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main_content" style="height: 88vh;">
            <form #myForm="ngForm" >
        
                <mat-form-field>
                  <input matInput placeholder="Name" name="name" required [(ngModel)] = "menuData.name">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Description" name="description" [(ngModel)] = "menuData.description">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Project ID" name="projId" required [(ngModel)] = "menuData.projId">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Route" name="route" required [(ngModel)] = "menuData.route" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Permissions" name="permission" required [(ngModel)] = "menuData.permission">
                </mat-form-field>
              
                <mat-form-field>
                  <mat-label>Select Menus</mat-label>
                  <mat-select name="parent_id" required [(ngModel)] = "menuData.parent_id" [(ngModel)] = "uiToogler.menuSelected">
                    <mat-option [value]="">Choose Menu</mat-option>
                    <mat-option *ngFor="let menu of allMenuData" [value]="menu.mId">
                        {{menu.name}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              
                <div class="submit-button">
                  <button style="margin-right: 20px;" mat-flat-button color="primary" type="submit" (click)="handleSubmit()">{{uiToogler.button}}</button>
                  <button mat-flat-button color="primary" type="submit" (click)="handleDelete()" *ngIf="uiToogler.button === 'Update'">Delete</button>
                </div>
            </form>
            
        </div>
    </mat-drawer-content>
  </mat-drawer-container>


<router-outlet></router-outlet>